<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Badge Component</title>
  </head>
  <body>
        <h1>First heading <span class="badge badge-secondary"></span></h1>
        <h2>Second heading <span class="badge badge-secondary"></span></h2>
        <h3>Third heading <span class="badge badge-secondary"></span></h3>
        <h4>Fourth heading <span class="badge badge-secondary"></span></h4>
        <h5>Fifth heading <span class="badge badge-secondary"></span></h5>
        <h6>Sixth heading <span class="badge badge-secondary"></span></h6>
  </body>
</html>